<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawe.navigationdrawer">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:screenOrientation="portrait"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WynikiStatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WynikiPopUpTransparent" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NewsPopUpTransparent" />
        <activity
            android:name=".NadchodzaceZawodyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ZawodyPopUpTransparent" />
        <activity
            android:name=".MeczeTVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MeczeTVPopUpTransparent" />
        <activity
            android:name=".ZakladyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ZakladyPopUpTransparent" />
        <activity
            android:name=".ZakladNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ZakladNewPopUpTransparent" />
        <activity
            android:name=".ZawodnicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ZawodnicyPopUpTransparent" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>